<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/ckeditor")
    <link href="~/Content/TaoThem.css" rel="stylesheet" />
</head>
<body>
    <div class="Tieude">
        <div class="container">

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>
                        <a href="/Admins/HomeAdmin/Index" class="nav-link"> Trang Chủ </a>
                    </li>
                    <li>
                        <a href="/Admins/QLGiaoViensAdmin/Index" class="nav-link">Giáo Viên</a>
                    </li>
                    <li>
                        <a href="/Admins/QLHocSinhsAdmin/Index" class="nav-link"> Học Sinh </a>
                    </li>
                    <li>
                        <a href="/Admins/QLLopsAdmin/Index" class="nav-link"> Lớp Học </a>
                    </li>
                    <li>
                        <a href="/Admins/QLMonHocsAdmin/Index" class="nav-link"> Môn Học </a>
                    </li>
                    <li>
                        <a href="/Admins/DiemhocsinhsAdmin/Index" class="nav-link"> Điểm Học Sinh </a>
                    </li>
                    <li>
                        <a href="/Admins/AccountAdmin/Register"> Tạo Tài Khoản </a>
                    </li>
                    <li>
                        <a href="/Accounts/Logout" class="nav-link"> Đăng Xuất </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ngọc Hằng</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>