@model IEnumerable<QuanLyDiem.Models.QLGiaoVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/HSClient/Views/_LayoutClient.cshtml";
}

<h2>Thông Tin Giáo Viên</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaGV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QLMonHoc.TenMH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenGV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnhGV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaGV)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.QLMonHoc.TenMH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenGV)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GioiTinh)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NgaySinh)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SoDienThoai)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiaChi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AnhGV)
    </td>
    <td>
     |
        @Html.ActionLink("Chi Tiết", "Details", new { id = item.MaGV }) |
       
    </td>
</tr>
}

</table>
