@model IEnumerable<QuanLyDiem.Models.QLHocSinh>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/HSClient/Views/_LayoutClient.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QLLop.TenLop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaHS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.QLLop.TenLop)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaHS)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenHS)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GioiTinh)
    </td>
 

    <td>
   |
        @Html.ActionLink("Details", "Details", new { id = item.MaHS }) |

    </td>
</tr>
}

</table>
