@model QuanLyDiem.Models.DiemHocSinh

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DiemHocSinh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QLLop.TenLop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QLLop.TenLop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenHS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhHS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhHS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemMieng)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemMieng)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diem15Phut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diem15Phut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diem1Tiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diem1Tiet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemHK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemHK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemTBHK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemTBHK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QLMonHoc.TenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QLMonHoc.TenMH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHS }) |
    @Html.ActionLink("Back to List", "Index")
</p>
